/*all of page size and all*/
*{
    margin: 0;
    padding: 0;
  }
 
  /*Distance between Questions*/
  .content{
    justify-content: center;
    align-items: center;
    height:70vh;
   
  /*After clicking the questions*/
  }
  .center{
    width: 50%;
    align-self: center;
    margin: auto;
  }
  
  /*distance between questions and anwers only font*/
  details{
    font-family: 'Raleway', sans-serif;
  }
  
  /*All inside the answer*/
  summary {
      transition: background .75s ease;
      width: 100%;
      outline: 0;
      text-align: center;
      font-size: 85%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      border-top: 1px solid #D3D3D3;
  }
  
  /*Question */
  h2 {
      color: #1286BC;
      text-align: left;
      margin-bottom: 0;
      padding: 15px;
      text-shadow: none;
  }
  
  /*Distance between questions and answers*/
  details p {
      padding: 0 25px 15px 25px;
      margin: 0;
      text-shadow: none;
      text-align: justify;
    line-height: 1.3em;
  }
  
  /*After clicking the question*/
  summary::after {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f107";
      display: inline-block;
      padding-right: 15px;
      font-size: 180%;
      color: #1d170f;
  }
  /*After lick hower icon*/
  details[open] summary::after {
      content: '\f106';
      display: inline-block;
      padding-right: 15px;
      font-size: 180%;
  }
  
  /*only background after clicking hower icon*/
  details[open] summary:hover {
    background:none;
  }
  /*only background of hower*/
  summary:hover {
      background: #d3d3d3;
  }
  
  details summary::-webkit-details-marker {
    display:none;
  }



 /*Footer */ 
.footer-basic-centered{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 18px sans-serif;

	padding: 45px;
	margin-top: 80px;
}

/*Footer motto*/
.footer-basic-centered .footer-company-motto{
	color:  #8d9093;
	font-size: 24px;
	margin: 0;
}

.footer-basic-centered .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/*Footer only link names*/
.footer-basic-centered .footer-links{
	list-style: none;
	font-weight: bold;
	color:  #ffffff;
	padding: 35px 0 23px;
	margin: 0;
}

/*After ...... icons */
.footer-basic-centered .footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}


  
  
  